/.vs/ClashOfSpace/v15/*.suo
/Library
/*.csproj
/Temp
/*.sln
/.vs/BulletClash/v15/.suo
/.vs/BulletClash/v15/Browse.VC.db
/BuildHistory
/BulletClash-1.0-v1.symbols.zip
/*.apk
/.vs/BulletClash/v15/Browse.VC.opendb
/BulletClash_Data
/WinPixEventRuntime.dll
